/**
 * CSS и SCSS переменные.
 */

:root {
  --fonts__main: "Inter", "sans-serif";

  --colors__main: #5454d4;
  --colors__additional: #fff;
  --colors__main-background: #fff;
  --colors__additional-background: #fff;

  --typography__main: #fff;
  --typography__additional: #000;
}

$media: (
  sm: (
    // Ширина экрана на которой срабатывает медиазапрос
    width: 375px,

    // Ширина контейнера (.container) для данной ширины экрана
    container: 100%,

    // Отступы внутрий контейнера (.container)
    padding: 24px,
  ),
  md: (
    // Ширина экрана на которой срабатывает медиазапрос
    width: 868px,

    // Ширина контейнера (.container) для данной ширины экрана
    container: 100%,
    // Отступы внутрий контейнера (.container)
    padding: 24px,
  ),
  lg: (
    // Ширина экрана на которой срабатывает медиазапрос
    width: 1024px + (60px * 2),
    //// Ширина контейнера (.container) для данной ширины экрана
    // container: 944px + (40px * 2),
    //// Отступы внутрий контейнера (.container)
    // padding: 40px,,,,,,,,,,,,,
  ),
  xl: (
    // Ширина экрана на которой срабатывает медиазапрос
    width: 1200px + (60px * 2),
    // Ширина контейнера (.container) для данной ширины экрана
    container: 1200px + (60px * 2),
    // Отступы внутрий контейнера (.container)
    padding: 60px,
  ),
);
