//- link(rel="stylesheet" href="./vendor/animate/animate.min.css")
//- script(src="./vendor/wow/wow.min.js")
//- script(src="./vendor/vue/vue.min.js")
//- link(rel="stylesheet" href="./vendor/fontawesome-6/pro/css/all.min.css")
//- script(src="./vendor/fontawesome-6/pro/js/all.min.js")
//- link(rel="stylesheet" href="./vendor/bootstrap/bootstrap.min.css")
//- script(src="./vendor/bootstrap/bootstrap.bundle.min.js") 

script(src="./bundles/app.min.js")