include ../../blocks/head/head.pug

doctype html
html(lang="ru")
  +head("Home page")
  body
    //include ../../blocks/header/header.pug
    main.index 

    //include ../../blocks/footer/footer.pug
    include ../../blocks/footer-includes/footer-includes.pug