include ../../components/common/head/head.pug
include ../../components/common/header/header.pug
include ../../components/common/footer/footer.pug

doctype html
html(lang="ru")
  +head("Template")
  body
    +header()
    main.main.index

    //+footer()
    include ../../components/common/footer-includes/footer-includes.pug