// script(src="./vendor/vue/vue.min.js")

// link(rel="stylesheet" href="./vendor/fontawesome-6/pro/css/all.min.css")
// script(src="./vendor/fontawesome-6/pro/js/all.min.js")

// Vue.js CDN
script(src="https://unpkg.com/vue@3/dist/vue.global.js")

// All custom scripts
script(src="./bundles/app.min.js")